.destacado{
    border: 1px solid #c8ccd1;
    border-radius: 2px;
    background-color: #f8f9fa;
    margin-bottom: 1rem;
    padding: 1rem;
}

.cardType{
    color: #72777d;
    line-height: 1.25;
    margin:0;
}

.title{
    font-family: 'Linux Libertine','Georgia','Times',serif;
    line-height: 1.3;
    font-size: 1.5em;
    font-weight: 100;
    margin:0;
}

.title a{
    color: #000000;
}

.destacado:hover .title a{
    color: #0645ad;
}

.floatRight{
    clear: right;
    float: right; 
}
.clear{
    clear: both;
}

.footer{
    margin-top:1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer ul{
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: row;
}

.footer li{
    list-style: none;
}

.footer > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.87;
    cursor: pointer;
}

.footer > div:hover{
    opacity: 0.51;
}